<?xml version="1.0"?>
<config>
    <modules>
        <Mgt_Graylog>
            <version>1.0.0</version>
        </Mgt_Graylog>
    </modules>
    <global>
        <blocks>
            <mgt_graylog>
                <class>Mgt_Graylog_Block</class>
            </mgt_graylog>
        </blocks>
        <models>
            <mgt_graylog>
                <class>Mgt_Graylog_Model</class>
            </mgt_graylog>
        </models>
        <helpers>
            <mgt_graylog>
                <class>Mgt_Graylog_Helper</class>
            </mgt_graylog>
        </helpers>
        <events>
            <mage_run_exception>
                <observers>
                    <mgt_graylog>
                        <class>mgt_graylog/observer</class>
                        <method>sendLog</method>
                    </mgt_graylog>
                </observers>
            </mage_run_exception>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mgt_graylog translate="title" module="mgt_graylog">
                                            <title>mgt-commerce</title>
                                        </mgt_graylog>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <mgt_graylog>
            <mgt_graylog>
                <active>0</active>
                <port>12201</port>
            </mgt_graylog>
        </mgt_graylog>
    </default>
</config>
