<?xml version="1.0"?>
<config>
    <modules>
        <Mgt_Graylog>
            <version>1.0.0</version>
        </Mgt_Graylog>
    </modules>
    <global>
        <blocks>
            <mgt_graylog>
                <class>Mgt_Graylog_Block</class>
            </mgt_graylog>
            <mgt_graylog_adminhtml>
                <class>Mgt_Graylog_Block_Adminhtml</class>
            </mgt_graylog_adminhtml>
        </blocks>
        <models>
            <mgt_graylog>
                <class>Mgt_Graylog_Model</class>
            </mgt_graylog>
        </models>
        <helpers>
            <mgt_graylog>
                <class>Mgt_Graylog_Helper</class>
            </mgt_graylog>
        </helpers>
        <log>
            <core>
                <writer_model>Mgt_Graylog_Model_Writer_Graylog</writer_model>
            </core>
        </log>
        <events>
            <mage_run_exception>
                <observers>
                    <mgt_graylog>
                        <class>mgt_graylog/observer</class>
                        <method>sendLog</method>
                    </mgt_graylog>
                </observers>
            </mage_run_exception>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mgt_Graylog before="Mage_Adminhtml">Mgt_Graylog_Adminhtml</Mgt_Graylog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mgt_graylog translate="title" module="mgt_graylog">
                                            <title>mgt-commerce</title>
                                        </mgt_graylog>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <mgt_graylog_adminhtml_dashboard_tab_grid>
                        <class>mgt_graylog/observer</class>
                        <method>addAdminhtmlDashboardTab</method>
                    </mgt_graylog_adminhtml_dashboard_tab_grid>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>
    <default>
        <mgt_graylog>
            <mgt_graylog>
                <active>0</active>
                <severities>31</severities>
                <port>12201</port>
            </mgt_graylog>
        </mgt_graylog>
    </default>
</config>
